<!DOCTYPE html>

<html>
<head>
    <title>GOTRAIN</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    <script src="myscripts.js"></script>
</head>
<body>
    <div class="body-wrapper">
        <nav>
            <div class="dropdown" id="dropdownmenu">
                <button id="dropdown-menu-button">
                    <div id="right-menuicon">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <ul>
                        <li><a href="#home">HJEM</a></li>
                        <li>
                            <a href="#" onclick="document.getElementById('signup-form').style.display='block'">REGISTRER</a>
                        </li>
                        <li><a href="#about">OM OS</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
